.whole-sign-up {
    display: flex;
    flex-direction: column;
}

.input-sign-up {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 200px;
    margin-left: 8%;
}

.input-sign-up2 {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 200px;
    margin-left: 8%;
}

.input-sign-up3 {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 800px;
    margin-left: 8%;
}

.submit-button {
    margin-top: 2%;
    margin-left: 9%;
    margin-bottom: 5%;
}

.input-preview {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 800px;
    margin-left: 9.25%;
}

.input-preview2 {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 815px;
    margin-left: 8%;
}
