/* TODO Add site wide styles */
*:link {
    text-decoration: none;
    color: black;
}

*:visited {
    text-decoration: none;
    color: black;
}





html,
body {
    margin: 2;
    padding: 2;
    /* height: 99%;
    width: 99%; */
    font-family: 'Poppins', sans-serif;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;

}
