.createSpotLink {
    margin-left: 80%;
}

.TopHomePage {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(76, 76, 76, 0.387);
    border-spacing: 0, 100em;
    margin-bottom: 1%;
    padding-bottom: .5%;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5%;
}

.createASpot:hover,
.logout:hover {
    background-color: rgba(76, 73, 73, 0.185);
}



.profileButton:hover,
.logout:hover {
    cursor: pointer;
}

.homeButton {
    color: red;
    font-family: Garam;
    padding-top: .5%;

}

.logo {
    width: 3%;
    box-sizing: content-box;

}

.left-side {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-start;
}

.profile-dropdown {

    display: flex;
    flex-direction: column;
    font-weight: bold;

}

.logout {
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* .username,
.email {
    font-weight: bold;
} */
